USE [Italika]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 15/03/2021 10:20:44 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [varchar](255) NOT NULL,
	[Fert] [varchar](255) NOT NULL,
	[Modelo] [varchar](255) NOT NULL,
	[Tipo] [varchar](255) NOT NULL,
	[NumeroSerie] [varchar](255) NOT NULL,
	[Fecha] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
